**/.git/
**/*.png
**/*.imports
**/*_flymake.*
**/*.prof
**/*.bak
**/*~
**/*.tix
**/.stack-work/
stochaskell/cache/
stochaskell/docs/
stochaskell/edward/env/
stochaskell/pymc3/env/
stochaskell/webchurch/node_modules/
stochaskell/stochaskell.cabal
_scrap/
