[submodule "stochaskell/cmdstan"]
	path = stochaskell/cmdstan
	url = https://github.com/stan-dev/cmdstan.git
[submodule "stochaskell/webchurch"]
	path = stochaskell/webchurch
	url = https://github.com/probmods/webchurch.git
[submodule "stochaskell/variant"]
	path = stochaskell/variant
	url = https://github.com/mpark/variant.git
[submodule "stochaskell/IHaskell"]
	path = ihaskell
	url = https://github.com/gibiansky/IHaskell.git
[submodule "stochaskell/backward-cpp"]
	path = stochaskell/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "docs/tufte-pandoc-css"]
	path = docs/tufte-pandoc-css
	url = https://github.com/davidar/tufte-pandoc-css.git
[submodule "stochaskell/standalone-haddock"]
	path = stochaskell/standalone-haddock
	url = https://github.com/corajr/standalone-haddock.git
