[submodule "stochaskell/cmdstan"]
	path = stochaskell/cmdstan
	url = https://github.com/stan-dev/cmdstan.git
[submodule "stochaskell/webchurch"]
	path = stochaskell/webchurch
	url = https://github.com/probmods/webchurch.git
[submodule "stochaskell/variant"]
	path = stochaskell/variant
	url = https://github.com/mpark/variant.git
