cycler==0.10.0
enum34==1.1.6
functools32==3.2.3.post2
h5py==2.7.0
joblib==0.11
matplotlib==2.0.2
numpy==1.13.1
pandas==0.20.3
patsy==0.4.1
pkg-resources==0.0.0
pymc3==3.6
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scipy==0.19.1
six==1.10.0
subprocess32==3.2.7
Theano==1.0.4
tqdm==4.15.0
